.sliderItems {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;

  .slider {
    height: 140px;
    margin-left: 5px;
    margin-top: 10px;
    width: calc(50% - 10px);

    ::ng-deep .ng5-slider .ng5-slider-pointer {
      cursor: pointer;
      width: 20px;
      height: 20px;
      background-color: #285c68;
      border: none;
      z-index: 3;
      border-radius: 16px;
    }

    // Slider inside white color background removed(Make it to display:none)
    ::ng-deep .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }

    // Slider verticle bar pointer aligned
    ::ng-deep .ng5-slider.vertical .ng5-slider-pointer {
      left: -5px !important;
      top: auto;
      bottom: 0;
    }

    // round circle green color on verticle bar
    ::ng-deep .ng5-slider.vertical .ng5-slider-bar {
      bottom: 0;
      left: 17px;
      width: 8px;
      height: 100%;
    }

    // Displaying number 0 to 100 make to display:none
    ::ng-deep .ng5-slider.vertical .ng5-slider-bubble {
      display: none;
      left: 16px !important;
      bottom: 0;
    }

    // Media queries based on screen width and height
    @media (max-width: 1999px) and (min-width: 1441px) {
      ::ng-deep .ng5-slider.vertical .ng5-slider-bar {
        bottom: 0;
        left: 23px;
        width: 8px;
        height: 100%;
      }

      ::ng-deep .ng5-slider.vertical .ng5-slider-pointer {
        left: 1px !important;
        top: auto;
        bottom: 0;
      }
    }

    @media (max-width: 1440px) and (min-width: 1340px) {
      ::ng-deep .ng5-slider.vertical .ng5-slider-bar {
        bottom: 0;
        left: 20px;
        width: 8px;
        height: 100%;
      }

      ::ng-deep .ng5-slider.vertical .ng5-slider-pointer {
        left: -2px !important;
        top: auto;
        bottom: 0;
      }
    }

    @media (max-width: 1339px) and (min-width: 1161px) {
      ::ng-deep .ng5-slider.vertical .ng5-slider-bar {
        bottom: 0;
        left: 16px;
        width: 8px;
        height: 100%;
      }

      ::ng-deep .ng5-slider.vertical .ng5-slider-pointer {
        left: -6px !important;
        top: auto;
        bottom: 0;
      }
    }

    @media (max-width: 1160px) {
      ::ng-deep .ng5-slider.vertical .ng5-slider-bar {
        bottom: 0;
        left: 18px;
        width: 8px;
        height: 100%;
      }

      ::ng-deep .ng5-slider.vertical .ng5-slider-pointer {
        left: -4px !important;
        top: auto;
        bottom: 0;
      }
    }

    @media (max-width: 1059px) {
      ::ng-deep .ng5-slider.vertical .ng5-slider-bar {
        bottom: 0;
        left: 15px;
        width: 8px;
        height: 100%;
      }

      ::ng-deep .ng5-slider.vertical .ng5-slider-pointer {
        left: -7px !important;
        top: auto;
        bottom: 0;
      }
    }

    @media (max-width: 768px) {
      ::ng-deep .ng5-slider.vertical .ng5-slider-bar {
        bottom: 0;
        left: 11px;
        width: 8px;
        height: 100%;
      }

      ::ng-deep .ng5-slider.vertical .ng5-slider-pointer {
        left: -11px !important;
        top: auto;
        bottom: 0;
      }
    }
  }
}

.brightness {
  display: flex;
  flex-wrap: wrap;

  .contrast {
    width: calc(50% - 10px);
    margin-left: 4px;
    margin-top: 10px;
    text-align: center;

    img {
      height: 2rem;
      width: 2rem;
      cursor: pointer;
    }

    @media only screen and (min-width: 1440px) {
      .contrast {
        margin-left: 6px;
      }
    }
  }
}
