<mat-card class="impression">
  <mat-card-title class="patient-info-header">
    {{ impressionsText | uppercase }}
    <input class='impression-checkbox-main' (click)='hideorShowAllFun($event)' type='checkbox' [checked]='hideShowAll'/>Show All
  </mat-card-title>
  <mat-card-content
    class="impression-content"
    *ngFor="let impressions of uniqueImpressions; let i = index">

    <button [style.background-color]="impressions.colors"></button>
    <span class="impression-text-width">{{ impressions.name }}</span>
    <input class='impression-checkbox' (click)='displayFun(impressions, $event, i)' type='checkbox' [checked]='impressions.checked'/>
  </mat-card-content>
</mat-card>
