<mat-card class="impression">
  <mat-card-title class="patient-info-header">
    {{ impressionsText | uppercase }}
    <input
      class="impression-checkbox-main"
      (click)="hideorShowAllFun($event)"
      type="checkbox"
      [checked]="hideShowAll"
    />Show All
  </mat-card-title>
  <mat-card-content
    class="impression-content"
    *ngFor="
      let impressions of uniqueImpressions;
      let i = index
    "
  >
    <button [style.background-color]="impressions.colors"></button>
    <span class="impression-text-width">{{ impressions.name }}</span>
    <mat-icon
      class="deleteButton"
      [ngStyle]="{
        display:
          impressions.diseaseType === 'diffuse category' ? 'block' : 'none'
      }"
      (click)="deleteImpressions(impressions, $event, i)"
      >delete_forever</mat-icon
    >
    <input
      [ngStyle]="{
        display:
          impressions.diseaseType === 'diffuse category' ? 'none' : 'block'
      }"
      class="impression-checkbox"
      (click)="displayFun(impressions, $event, i)"
      type="checkbox"
      [checked]="impressions.checked"
    />
  </mat-card-content>
  <mat-card-content
    *ngIf="
      (!uniqueImpressions || uniqueImpressions.length === 0) &&
      (isAlreadyAskAiClicked && noFindings)  &&
      hideNoAbnormalityText
    "
  >
    <div align="center">
      No significant abnormality detected.
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="Additional">
  <mat-card-title class="patient-info-header">
    OTHER OPTIONS
  </mat-card-title>
  <mat-card-content
  >
  <div class='m-b-7'>
    <input class='m-r-7'
    (click)="checkBoxAdditional($event, 'unableToDiagnose')"
    type="checkbox"
    [checked]="unableToDiagnose"
    />Unable to Diagnose
  </div>
  <div>
    <input class='m-r-7'
      (click)="checkBoxAdditional($event, 'noFindings')"
      type="checkbox"
      [checked]="noFindings"
    />No Findings
  </div>
  </mat-card-content>
</mat-card>

