.ask-ai-container {
    max-width: 432px;
    @media (max-width: 830px) {
        max-width: 350px;
    }
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      background-color: rgba(61,63,68,0.5);
      color: #ffffff;
      background-clip: border-box;
      border-radius: 0.25rem;
      margin: 0.5rem 1.5rem;
  
      .card-header {
        padding: 0.75rem 1.25rem;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 0;
        text-align: center;
      }
  
      .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
  
        label {
          font-size: 1.5rem;
          font-weight: 300;
        }
  
        .findings {
          position: relative;
          display: flex;
          flex-direction: column;
          min-width: 0;
          background-color: rgb(0,0,0,0.5);
          background-clip: border-box;
          color: #f8f8f8;
          border: 1px solid rgba(0, 0, 0, 0.125);
          border-radius: 0.25rem;
          margin: 0.5rem 0rem 2rem;
          max-height: 140px;
          padding: 0.5rem 0.5rem 1rem;
          overflow-y: auto;
        }
  
        .impression {
          position: relative;
          display: flex;
          flex-direction: column;
          min-width: 0;
          background-color: rgb(0,0,0,0.5);
          background-clip: border-box;
          color: #f8f8f8;
          border: 1px solid rgba(0, 0, 0, 0.125);
          border-radius: 0.25rem;
          margin: 0.5rem 0rem 1.5rem;
          padding: 0.5rem 0.5rem 1rem;
          max-height: 100px;
          overflow-y: auto;
        }
  
        li {
          list-style-type: none;
          padding-left: 5px;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.67;
          letter-spacing: normal;
          text-align: left;
          color: #f8f8f8;
        }
      }
      .card-footer {
          display: flex;
          justify-content: space-around;
          margin-bottom: 2rem;
  
          button {
              background-color: #25b865;
              width: 144px;
              height: 36px;
              color: #f8f8f8;
              font-size: 18px;
              font-weight: 500;
          }
          button:last-child {
              background-color: #ff4d4d;
          }
      }
    }
  
    //   .meow {
    //     height: 100px;
    //     width: 300px;
    //     margin: 30px;
    //     background: linear-gradient(#333, #222);
    //     -o-border-radius: 4px;
    //     -ms-border-radius: 4px;
    //     -moz-border-radius: 4px;
    //     -webkit-border-radius: 4px;
    //     border-radius: 4px;
    //   }
  
    //   .meow:after {
    //     content: ' ';
    //     border-top: 12px solid #222;
    //     border-left: 8px solid transparent;
    //     border-right: 8px solid transparent;
    //     position: relative;
    //     transform: translateX(180px) rotate(45deg);
    //     top: 111px;
    //     right: -140px;
    //   }
  }
  