// About main container
.about-container {
  background-image: url('src/assets/AboutBG_desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100% - 64px); // 64px is the height of app bar

  .about-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - 40px);

    .left-image-container {
      width: 60%;
      margin: auto;
      padding: 20px;
    }

    .right-form-container {
      width: 40%;
      color: #fff;
      margin: auto 0;

      h1 {
        font-size: 36px;
        margin: 0;
      }

      .version-number {
        color: #fefefe;
        font-size: 10px;
      }

      .about-info {
        max-width: 320px;
        margin: 5px 5px 0px 0px;

        span {
          font-size: 17px;
          color: #ffffff;
        }

        p {
          font-size: 17px;
        }
      }

      .contact-us {
        .hover-effect {
          font-size: 18px;
          color: #fff;
        }

        .hover-effect:hover {
          color: #303030;
        }
      }
    }
  }

  .footer {
    width: 100%;
    padding: 1rem 3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;

    .social-links {
      width: 45%;

      img {
        width: 2rem;
        height: 2rem;
        margin-right: 3rem;
      }

      @media (max-width: 900px) {
        img {
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
        }
      }
    }

    .copyright-msg {
      width: 55%;
      color: #fff;

      @media (max-width: 600px) {
        text-align: right;
      }
    }
  }
}

::ng-deep .carousel-slide {
  height: 500px !important;
}
