<div class="about-container">
  <section class="about-section">
    <div class="left-image-container">
      <!-- <img src="../../../../assets/about-us.png" alt="" /> -->
      <mat-carousel
        timings="500ms ease-in"
        [autoplay]="true"
        interval="5000"
        color="white"
        maxWidth="auto"
        proportion="25"
        [loop]="true"
        [maintainAspectRatio]="true"
        orientation="ltr"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
      >
        <!-- [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false" pass inside line number 13-->

        <mat-carousel-slide
          *ngFor="let slide of slides; let i = index"
          [hideOverlay]="false"
        >
          <img [src]="slide.image" width="700" height="500" />
          <p class="right-form-container">
            {{ slide.title }}:&nbsp;{{ slide.content }}
          </p>
        </mat-carousel-slide>

        <!-- <p
          *ngFor="let slide of slideContent; let i = index"
        > {{slide.content}}
    </p> -->
      </mat-carousel>
    </div>
  </section>
  <section class="footer">
    <div class="social-links">
      <img
        [src]="socialMedia.image"
        [alt]="socialMedia.alt"
        [title]="socialMedia.title"
        *ngFor="let socialMedia of socialMediaIcons"
      />
    </div>
    <div class="copyright-msg">
      <span>{{ copyRightText.copyRightDisplayText }}</span>
    </div>
  </section>
</div>
