.actionFitItem {
    display: flex;
    flex-wrap: wrap;
  
    .actions,
    .menus {
      width: calc(50% - 10px);
      margin: 5px 0px 6px 5px;
      text-align: center;
      height: 35px;
      cursor: pointer;
  
      img {
        height: 2rem;
        width: 2rem;
        margin-top: 8px;
      }
    }
    :hover {
      background-color: #f0e5e5;
    }
    .icon-select-BG {
      width: 30px !important;
      height: 30px !important;
      background-color: #dcdcdc !important;
      border-radius: 4px !important;
    }
    .icon-disabled-BG {
      cursor: no-drop;
      opacity: 0.5;
    }
    .icon-active-BG {
      cursor: pointer;
    }
  }
  