mat-toolbar {
  background-color: #434343 !important;
  z-index: 9999;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  .menu_icon {
    color: white;
    display: inline-block;
    height: 100%;
  }
  .header_logo {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 5px;
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  .icon-styles {
    height: 100%;
    height: 100%;
    width: 7rem;
    background-color: #434343;
    border: 0;
    cursor: pointer;
    .material-icons {
      color: #fff;
      margin-right: 0px !important;
    }
  }
  .icon-styles:hover {
    border-bottom: 4px solid white;
    background-color: #818181;
  }
  .notification-icon {
    margin-right: 2rem;
  }
  .user-name {
    padding: 0.5rem 0.5rem 0 1rem;
    font-size: 1.3rem;
    color: #f8f8f8;
    font-weight: lighter;
    border-left: 1px solid #f8f8f8;
  }
  .account_icon {
    font-size: 2.8rem;
    color: #7ca5ae;
    margin-bottom: 0.2rem;
  }
  mat-menu {
    z-index: 1000;
  }
  cxr-x-ray-header {
    position: relative;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .x-ray_header_logo {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    height: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .user-name {
    display: none;
  }
  .icon-styles {
    display: none;
  }
  .account_icon {
    display: block;
  }
  .menu_icon {
    color: white;
    display: block;
    height: 100%;
  }
  mat-toolbar {
    background-color: #285c68 !important;
  }
}
