mat-toolbar {
  background-color: #434343 !important;
  // z-index: 9999;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  .menu_icon {
    color: white;
    display: inline-block;
    height: 100%;
  }
  .header_logo {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 5px;
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  .icon-styles, .add-patient {
    height: 100%;
    width: 6rem;
    margin: 0px 2px;
    background-color: #434343;
    border: 0;
    cursor: pointer;
    .material-icons {
      color: #fff;
      margin-right: 0px !important;
    }
  }
  .icon-styles:hover, .add-patient:hover {
    border-bottom: 4px solid white;
    background-color: #818181;
  }
  .notification-icon {
    margin-right: 2rem;
    color: #303030;
    cursor: no-drop;
    .material-icons {
      color: #8f8f8f;
    }
  }

  .disabled-add-patient {
    height: 100%;
    width: 6rem;
    margin: 0px 2px;
    background-color: #434343;
    border: 0;
    color: #303030;
    cursor: no-drop;
    .material-icons {
      color: #8f8f8f;
    }
  }

  .user-name {
    padding: 0.5rem 0.5rem 0 1rem;
    font-size: 1.3rem;
    color: #f8f8f8;
    font-weight: lighter;
    border-left: 1px solid #f8f8f8;
  }
  .account_icon {
    font-size: 2.8rem;
    color: #7ca5ae;
    margin-bottom: 0.2rem;
  }
  cxr-x-ray-header {
    position: relative;
    width: 75%;
  }
}
// ::ng-deep .mat-menu-content:not(:empty) {
//   padding-top: 25px !important;
// }
@media only screen and (min-width: 768px) {
  .x-ray_header_logo {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    height: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .user-name {
    display: none;
  }
  .icon-styles {
    display: none;
  }
  .account_icon {
    display: block;
  }
  .menu_icon {
    color: white;
    display: block;
    height: 100%;
  }
  mat-toolbar {
    background-color: #285c68 !important;
  }
}
// ::ng-deep.mat-menu-content:not(:empty) {
//   padding-top: 25px !important;
// }
::ng-deep .mat-menu-panel{
  position: relative;
    top: 22px;
}

::ng-deep {
  mat-dialog-container {  
      mat-dialog-content {
          margin: 0px;
          padding: 0px;
          max-height: 42vh;
          width: 100% !important;
          background-color: black !important;
          color: #ffffff;
          border-radius: 1rem;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }
      mat-dialog-content#idleTimeoutModel {
          display: table-cell;
          padding: 16px 12px 0px 20px;
          border-radius: 7px;
          h2 {
              font-weight: 400;
              padding-bottom: 1rem;
          }
          .sub-delete-title {
              font-size: 1.3rem;
          }
      }
      mat-dialog-actions#idleTimeoutModel {
          justify-content: space-between;
          margin-top: 0.8rem;
          .staySignedIn {
              cursor: pointer;
              width: 122px;
              height: 35px;
              color: #ffffff;
              font-size: 1.5rem;
              background-color:  #28a745 !important;
              border-radius: 5px;
          }
          .logOut {
              cursor: pointer;
              width: 110px;
              height: 35px;
              color: #ffffff;
              font-size: 1.5rem;
              background-color: #ff4d4d !important;
              border-radius: 5px;
          }
      }
  }
}
