<mat-toolbar>
  <button
    (click)="toggleSidenav()"
    *ngIf="router.url == '/home/dashboard' || router.url == '/admin/dashboard'"
    class="menu_icon"
    mat-button
  >
    <span class="material-icons"> menu</span>
  </button>
  <span class="header_logo">
    <img
      src="../../../../../assets/images/CXR.png"
      alt="CXR_Logo"
      width="150px"
      height="30px"
    />
  </span>

  <ng-container>
    <cxr-x-ray-header
      *ngIf="
        router.url == '/x-ray' ||
        router.url == '/report' ||
        router.url == '/x-ray/ask-ai'
      "
    ></cxr-x-ray-header>
  </ng-container>

  <span class="fill-remaining-space"></span>

  <button
    class="add-patient"
    *ngIf="router.url == '/home/dashboard'"
    [ngClass]="{
      'icon-styles': userroles == 'Admin',
      'disabled-add-patient': userroles != 'Admin'
    }"
    [title]="userroles == 'Admin' ? 'Add Radiologist' : 'Add Patient'"
    (click)="addRadiologists()"
  >
    <span class="material-icons">person_add_alt_1</span>
  </button>
  <button
    class="icon-styles"
    [routerLink]="['/home/dashboard']"
    routerLinkActive="router-link-active"
    *ngIf="router.url == '/x-ray' || router.url == '/report'"
    title="Dashboard"
  >
    <span class="material-icons">dashboard</span>
  </button>
  <button class="icon-styles notification-icon" title="Notifications">
    <span class="material-icons">notifications</span>
  </button>

  <span class="user-name"> {{ doctorName }}</span>
  <mat-icon class="pointer account_icon" [matMenuTriggerFor]="aboveMenu"
    >account_circle</mat-icon
  >

  <mat-menu class="mat-menu" #aboveMenu="matMenu" xPosition="before">
    <button mat-menu-item>
      <span class="material-icons">person</span>My Account
    </button>
    <button mat-menu-item>
      <span class="material-icons">supervisor_account</span>Switch User
    </button>
    <button mat-menu-item (click)="onLogout()">
      <span class="material-icons">logout</span>Logout
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet
  *ngIf="
    router.url == '/x-ray' ||
    router.url == '/report' ||
    router.url == '/x-ray/ask-ai'
  "
></router-outlet>
