<mat-toolbar>
  <button
    *ngIf="router.url != '/x-ray'"
    (click)="toggleSidenav()"
    class="menu_icon"
    mat-button
  >
    <span class="material-icons"> menu</span>
  </button>
  <span class="header_logo">
    <img
      src="../../../../../assets/images/CXR.png"
      alt="CXR_Logo"
      width="150px"
      height="30px"
    />
  </span>
  <span *ngIf="router.url == '/x-ray'" class="navigate-index">
    <i class="material-icons arrow">
      keyboard_arrow_left
    </i>
    <span class="prev-text">Previous</span>
    <button mat-button class="navigate-button">
      <mat-radio-button></mat-radio-button>
      ID: {{ patientID }}
    </button>
    <span class="next-text">Next</span>
    <i class="material-icons arrow">
      keyboard_arrow_right
    </i>
  </span>
  <span *ngIf="router.url == '/x-ray'" class="search-box-outer">
    <mat-form-field appearance="outline">
      <i class="material-icons" matPrefix>search</i>
      <input matInput type="search" class="search-box-inner" />
    </mat-form-field>
  </span>
  <span class="fill-remaining-space"></span>

  <span class="icon-styles">
    <mat-icon *ngIf="router.url != '/x-ray'" class="pointer"
      >person_add_alt_1
    </mat-icon>
    <mat-icon *ngIf="router.url == '/x-ray'" class="pointer"
      >dashboard
    </mat-icon>
  </span>
  <span class="icon-styles">
    <mat-icon class="pointer">notifications</mat-icon>
  </span>
  <span class="user-name"> {{ doctorName }}</span>
  <mat-icon class="pointer account_icon" [matMenuTriggerFor]="aboveMenu"
    >account_circle</mat-icon
  >
  <mat-menu #aboveMenu="matMenu" xPosition="before">
    <button mat-menu-item>
      <span class="material-icons">person</span>My Account
    </button>
    <button mat-menu-item>
      <span class="material-icons">supervisor_account</span>Switch User
    </button>
    <button mat-menu-item (click)="onLogout()">
      <span class="material-icons">logout</span>Logout
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
