.admin-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .cxr-admin-dashboard-container {
        flex-basis: 60%;
    }
    .cxr-hospital-registration {
        flex-basis: 40%;
    }
}