@import '../../../../styles/ag-grid.scss';
#at-id-patientTable {
  height: 100% !important;
  overflow: hidden !important;
  #at-input-searchPatient {
    width: 40%;
    margin-left: 1%;
  }
  .search-patient {
    margin-bottom: 3px !important;
    padding-left: 10px !important;
  }
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0 !important;
}
::ng-deep .mat-form-field-outline {
  background-color: white !important;
  border-radius: 5px !important;
}
::ng-deep .material-icons:hover {
  color: #707070 !important;
}
@media only screen and (max-width: 1164px) {
  ag-grid-angular {
    ::ng-deep .ag-header {
      margin-top: 80px !important;
    }
    ::ng-deep .ag-paging-panel {
      padding-top: 60px !important;
      padding-bottom: 30px !important;
    }
  }
}
::ng-deep .ag-theme-material .ag-cell,
::ng-deep .ag-header-cell {
  width: auto !important;
}
::ng-deep .ag-center-cols-container {
  width: auto !important;
}

/* This CSS is to not apply the border for the column having 'no-border' class */
// ::ng-deep .ag-cell-focus,
// .ag-cell-no-focus {
//   border: none !important;
// }

/* Ag-grid-body horizontal scroll */
::ng-deep .ag-body-horizontal-scroll-viewport {
  overflow-x: hidden !important;
}
cxr-pagination{
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
.mat-form-field-wrapper {
  padding-bottom: 0.5em !important;
}
