
@import '../../../../styles/ag-grid.scss';
#at-id-patientTable{
  height: 100% !important;
  #at-input-searchPatient {
    width: 40%;
    z-index: 999;
    margin-left: 23%;
  }
  .search-patient {
    margin-bottom: 3px !important;
    padding-left: 10px !important;
  }
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0 !important;
}
::ng-deep .mat-form-field-outline{
  background-color: white !important;
  border-radius: 5px !important;
}
::ng-deep .material-icons:hover{
  color: #707070 !important;
}
@media only screen and (max-width: 1164px) {
  ag-grid-angular{
    ::ng-deep .ag-header {
      margin-top: 80px !important;
    }
    ::ng-deep .ag-paging-panel {
      padding-top: 60px !important;
      padding-bottom: 30px !important;
    }
  }
}
::ng-deep .ag-theme-material .ag-cell, ::ng-deep .ag-header-cell{
  padding-right: 0px !important;
  width: auto !important;
}
::ng-deep .ag-center-cols-container{
  width: auto !important;
}
  
