<!-- <div class="loaderContainer">
  <span class="loader" *ngIf="showloader"></span>
</div> -->
<div id="at-id-patientTable">
  <mat-form-field id="at-input-searchPatient" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      type="search"
      #searchVal
      [(ngModel)]="searchValue"
      placeholder="Search Patient"
      class="search-patient"
      (keypress)="omit_special_char($event)"
      (keyup.enter)="search(searchVal.value)"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" class="search"  (click)="search(searchVal.value)">Search</button>
  <cxr-pagination *ngIf="showPagination"
    [pageSize]="PaginationPageSize" 
    [gridApi]="gridApi" 
    [noOfPages]="totalPages">
  </cxr-pagination>
  <ag-grid-angular
    id="patientGrid"
    class="ag-theme-material"
    (rowClicked)="onRowClicked($event)"
    [enableSorting]="true"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    [pagination]="true" 
    [suppressPaginationPanel]="true"
  >
  <!-- [quickFilterText]="searchValue" -->
  </ag-grid-angular>
</div>

<ng-container>
  <cxr-error-message></cxr-error-message>
</ng-container>

<cxr-patient-info
  (click)="toggleMenu()"
  [patientInfo]="patientInfoSubject.asObservable()"
></cxr-patient-info>
