.my-class .mat-dialog-container {
  height: 375px !important;
  width: 600px !important;
  border-radius: 10px;
  background: lightcyan;
  color: #039be5;
  padding: 0px !important;
}

.saveDisease {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

::ng-deep {
  .mat-autocomplete-panel.mat-autocomplete-visible {
    visibility: visible;
    max-height: 21rem;
  }
}
// ::ng-deep {
//   mat-dialog-container {
//     mat-dialog-content {
//       min-height: 300px !important;
//       width: 350px !important;
//     }
//   }
// }

::ng-deep .mat-dialog-container {
  padding-top: 0 !important;
  background-color: #3d3f44;
  height: 92% !important;
  opacity: 0.9;
  h2 {
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    margin: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 40px;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 !important;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0px;
  }
  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-start,
  .mat-form-field-outline-end,
  .mat-form-field-outline-gap {
    border-width: 1px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-start,
  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    min-width: 0px;
    border: none;
    border-bottom: 1px solid #5d5f64;
  }
  img {
    margin-right: 5px;
  }
  .material-icons {
    display: inline-block;
    margin: 5px !important;
    color: #ffffff;
    margin-bottom: -15px !important;
  }
  mat-dialog-content {
    margin: 0px;
    padding: 0px;
    max-height: 42vh;
    width: 100% !important;
    background-color: black;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .mat-list-base .mat-list-item {
      color: #ffffff;
      font-size: 1.2rem;
      height: 30px;
    }
    .sub-list {
      padding-top: 0px;
      margin-left: 30px;
    }
  }
  .mat-dialog-actions[align='center'] {
    justify-content: space-between;
    margin-top: 1.5rem;
    button {
      width: 110px;
      height: 35px;
      color: #ffffff;
      font-size: 1.5rem;
    }
  }
}
::ng-deep {
  mat-dialog-container {
    mat-dialog-content#pathologyModel {
      min-height: 42vh;
      width: 350px;
    }
    mat-dialog-content#deleteImpression {
      display: table-cell;
      padding: 10px 25px 23px 20px;
      border-radius: 7px;
      color: white;
      min-height: 300px;
      width: 350px;
      h2 {
        font-weight: 400;
        padding-bottom: 1.5rem;
      }
      .sub-delete-title {
        font-size: 1.3rem;
      }
    }
    mat-dialog-actions#deleteImpression {
      justify-content: space-between;
      margin-top: 0.8rem;
      .deleteDisease {
        width: 110px;
        height: 35px;
        color: #ffffff;
        font-size: 1.5rem;
        background-color: #5d5f64;
      }
      .deleteDisease:hover {
        background-color: #ff4d4d;
      }
      .cancelDisease {
        width: 110px;
        height: 35px;
        color: #ffffff;
        font-size: 1.5rem;
        background-color: #5d5f64;
      }
      .cancelDisease:hover {
        background-color: rgb(159, 160, 159);
      }
    }
    // mat-dialog-content#controls{
    //   background-color: black;
    //   color: white;
    //   opacity: 0.7;
    // }
  }
}
