<div
    id="x-ray-aspect-ratio-container"
    class="x-ray-aspect-ratio-container"
    [style.width.%]="100"
    [style.height.%]="100"
  >
    <div
      class="xRay-image-canvas-container d-flex justify-content-center"
      id="canvas-wrapper"
    >
      <canvas
        id="at-id-x-ray-Canvas"
        class="xRay-image-canvas align-self-center orange"
        [style.width.%]="100"
        [style.height.%]="100"
      ></canvas>
    </div>
  </div>
<ng-template #pathologyModal>
  <h2 mat-dialog-title align="center">SELECT PATHOLOGY</h2>
  <mat-form-field id="at-input-disease" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        type="search"
        placeholder="Search"
        class="search-disease"
        [(ngModel)]="selectedDisease"
        (ngModelChange)="updateSearchModel($event)"
      />
  </mat-form-field>
  <mat-dialog-content>
      <mat-list>
          <ng-container *ngFor="let item of pathologyNames | searchFilter : selectedDisease">
              <mat-list-item class="c-p" (click)="onSelect($event)" list-style-type="number">{{item.letter}}</mat-list-item>
              <mat-list style="margin-left:30px;">
                  <div *ngFor="let subItem of item.names">
                      <mat-list-item class="c-p" (click)="onSelect($event)">{{ subItem }}</mat-list-item>
                  </div>
              </mat-list>
          </ng-container>
      </mat-list>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="saveDisease" mat-raised-button color="primary" (click)="savePrediction()" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
    <button class="cancelDisease" mat-raised-button color="warn" (click)="closePathologyModal()" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</ng-template>
