<div
  id="x-ray-aspect-ratio-container"
  class="x-ray-aspect-ratio-container"
  [style.width.%]="100"
  [style.height.%]="100"
>
  <div
    class="xRay-image-canvas-container d-flex justify-content-center"
    id="canvas-wrapper"
  >
    <div align="center">
      <canvas
        id="at-id-x-ray-Canvas"
        class="xRay-image-canvas align-self-center orange"
      ></canvas>
    </div>
  </div>
</div>
<ng-template #pathologyModal>
  <h2 mat-dialog-title align="center">SELECT PATHOLOGY</h2>
  <mat-form-field id="at-input-disease" appearance="outline">
    <img
      class="search-icon"
      src="../../../../../assets/images/Icon search inactive.png"
      height="18px"
      width="18px"
      alt="search"
    />
    <input
      matInput
      type="search"
      placeholder="Search"
      class="search-disease"
      [(ngModel)]="selectedDisease"
      (ngModelChange)="updateSearchModel($event)"
    />
    <span>
      <mat-icon class="pointer" (click)="selectedDisease = ''" matPrefix
        >clear</mat-icon
      >
    </span>
  </mat-form-field>
  <mat-dialog-content id="pathologyModel">
    <mat-list>
      <ng-container
        *ngFor="
          let item of pathologyNames | searchFilter: selectedDisease;
          let v = index
        "
      >
        <mat-list-item class="pointer" (click)="onSelect($event, item.Names)"
          ><span class="diseaseList"></span
          >{{ item.abnormality }}</mat-list-item
        >
        <mat-list class="sub-list">
          <div *ngFor="let subItem of item.Names">
            <mat-list-item class="pointer" (click)="onSelect($event, '')"
              ><span class="diseaseSubList"></span>{{ subItem }}</mat-list-item
            >
          </div>
        </mat-list>
      </ng-container>
    </mat-list>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-raised-button
      [ngStyle]="{
        'background-color':
          selectedDisease === '' || selectedDisease == undefined
            ? '#5d5f64'
            : '#25b865'
      }"
      [disabled]="selectedDisease == '' || selectedDisease == undefined"
      (click)="savePrediction()"
      [mat-dialog-close]="true"
      *ngIf="!updateDisease"
      cdkFocusInitial
    >
      SAVE
    </button>
    <button
      mat-raised-button
      [ngStyle]="{
        'background-color':
          selectedDisease === '' || selectedDisease == undefined
            ? '#5d5f64'
            : '#25b865'
      }"
      [disabled]="selectedDisease == '' || selectedDisease == undefined"
      (click)="updatePrediction()"
      [mat-dialog-close]="true"
      *ngIf="updateDisease"
      cdkFocusInitial
    >
      UPDATE
    </button>
    <button
      mat-raised-button
      [ngStyle]="{
        'background-color':
          selectedDisease === '' || selectedDisease == undefined
            ? '#5d5f64'
            : '#ff4d4d'
      }"
      (click)="closePathologyModal()"
      [mat-dialog-close]="true"
    >
      CANCEL
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #deleteObject>
  <h2 class="deleteImpression"></h2>
  <mat-dialog-content id="deleteImpression" align="center">
    <h2>Are you sure ?</h2>
    <div class="sub-delete-title">
      Do you really want to delete this annotation?
    </div>
  </mat-dialog-content>
  <mat-dialog-actions id="deleteImpression" align="center">
    <button
      class="deleteDisease"
      mat-raised-button
      (click)="deletePrediction()"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      DELETE
    </button>
    <button class="cancelDisease" mat-raised-button mat-dialog-close>
      CANCEL
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #controls>
  <div id="controls">
    <span
      class="material-icons pointer"
      (click)="updateEllipse()"
      title="Update"
      >link</span
    >
    <span class="material-icons pointer" title="Content Copy"
      >content_copy</span
    >
    <span
      class="material-icons pointer"
      (click)="deleteEllipse()"
      title="Delete"
      >highlight_off</span
    >
  </div>
</ng-template>
