<mat-card class="patient-info">
  <mat-card-title class="patient-info-header">
    <span class="material-icons Patient-info-icon">
      person
    </span>
    <span class="Patient-content">Patient Details</span>
  </mat-card-title>
  <p><mat-label>Name:</mat-label>{{ PatientName }}</p>
  <p><mat-label>Gender:</mat-label>{{ PatientGender }}</p>
  <p><mat-label>Age:</mat-label>{{ PatientAge }}</p>
  <p><mat-label>Ref.Physician:</mat-label>{{ refPhysician }}</p>
  <p><mat-label>Date of creation:</mat-label>{{ Date | date: 'dd-MM-yyyy' }}</p>
  <p><mat-label>Time:</mat-label>{{ Time | date: 'HH:mm:ss' }}</p>
  <p>
    <mat-label>Clinical History:</mat-label>
    {{ history || '-' }}
  </p>
</mat-card>
