<div class="x-ray-left-container">
  <div class="action-panel">
    <div class="topItem">
      <button mat-button (click)="askAI()">
        Ask AI <img src="../../../assets/images/askAI.png" alt="Ask AI" />
      </button>
      <button mat-button>
        Pathology
        <img
          src="../../../assets/images/add pathology active.png"
          alt="Add Pathology"
        />
      </button>
      <button mat-button>
        Timeline<img
          src="../../../assets/images/timeline icon.png"
          alt="Timeline"
        />
      </button>
    </div>

    <div class="actionItem">
      <div class="actions" *ngFor="let actions of actionPanel">
        <img [src]="actions.image" [alt]="actions.alt" />
      </div>
    </div>

    <div class="middleItems">
      <div class="menus" *ngFor="let middle of middlePanel">
        <img [src]="middle.image" [alt]="middle.alt" />
      </div>
    </div>

    <!-- Bottom slider -->
    <div class="sliderItems">
      <div class="slider">
        <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
      </div>
      <div class="slider">
        <ng5-slider [(value)]="values" [options]="option"></ng5-slider>
      </div>
    </div>

    <div class="brightness">
      <div class="contrast" *ngFor="let brightness of brightnessPanel">
        <img [src]="brightness.image" [alt]="brightness.alt" />
      </div>
    </div>
  </div>
</div>
