<div class="x-ray-left-container">
  <div class="action-panel">
    <div class="topItem">
      <cxr-ask-ai-tool (askAiEvent)="askAI()"></cxr-ask-ai-tool>
      <cxr-pathology-tool></cxr-pathology-tool>
      <cxr-timeline-tool></cxr-timeline-tool>
    </div>

    <div>
      <cxr-brightness-contrast-tool></cxr-brightness-contrast-tool>
    </div>

    <div>
      <cxr-undo-redo-tool></cxr-undo-redo-tool>
      <cxr-draw-ellipse-freehand-drawing></cxr-draw-ellipse-freehand-drawing>
      <cxr-measure-length-angle-tool></cxr-measure-length-angle-tool>
      <cxr-arrow-text-tool></cxr-arrow-text-tool>
      <cxr-save-erase-tool></cxr-save-erase-tool>
      <cxr-settings-delete-tool></cxr-settings-delete-tool>
    </div>

    <div>
      <cxr-select-fitscreen-tool></cxr-select-fitscreen-tool>
      <cxr-zoomin-zoomout-tool></cxr-zoomin-zoomout-tool>
      <cxr-rotate-tool></cxr-rotate-tool>
      <cxr-flip-tool></cxr-flip-tool>
    </div>
  </div>
</div>
