<div class="x-ray-left-container">
  <div class="action-panel">
    <div class="topItem">
      <button mat-button (click)="askAI()" [disabled]="disableAskAI">
        Ask AI <img src="../../../assets/images/askAI.png" alt="Ask AI" />
      </button>
      <button mat-button [ngClass]="'disabled'" [disabled]="disableActionItems">
        Pathology
        <img
          src="../../../assets/images/add pathology active.png"
          alt="Add Pathology"
        />
      </button>
      <button mat-button [ngClass]="'disabled'" [disabled]="disableActionItems">
        Timeline<img
          src="../../../assets/images/timeline icon.png"
          alt="Timeline"
        />
      </button>
    </div>

    <div class="actionItem">
      <div
        class="actions"
        *ngFor="let actions of actionPanel"
        [ngStyle]="{ cursor: 'no-drop' }"
      >
        <img
          class="icon-disabled-BG"
          [src]="actions.image"
          [alt]="actions.alt"
          [title]="actions.title"
        />
      </div>
    </div>

    <div class="middleItems">
      <div
        class="menus"
        *ngFor="let middle of middlePanel; let i = index"
        [ngStyle]="{ cursor: i === 2 || i === 3 ? 'pointer' : 'no-drop' }"
      >
        <img
          [ngClass]="
            middlePanel[i].active && (i === 2 || i === 3)
              ? 'icon-select-BG'
              : i === 2 || i === 3
              ? 'icon-active-BG'
              : 'icon-disabled-BG'
          "
          [src]="middle.image"
          [alt]="middle.alt"
          (click)="i === 2 || i === 3 ? iconAction(middlePanel, i) : ''"
          [title]="middle.title"
        />
      </div>
    </div>

    <!-- Bottom slider -->
    <div class="sliderItems">
      <div class="slider">
        <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
      </div>
      <div class="slider">
        <ng5-slider [(value)]="values" [options]="option"></ng5-slider>
      </div>
    </div>

    <div class="brightness">
      <div class="contrast" *ngFor="let brightness of brightnessPanel">
        <img
          [src]="brightness.image"
          [alt]="brightness.alt"
          [title]="brightness.title"
        />
      </div>
    </div>
  </div>
</div>
