<div class="signInContainer">
  <section class="signInSection">
    <div class="left-image-container">
      <img src="../../../../assets/images/illustration.png" alt="" />
    </div>
    <div class="right-form-container">
      <!-- Login form fields -->
      <mat-card>
        <!-- Profile icon and text -->
        <div class="form-header">
          <img src="../../../../assets/images/profile icon.png" alt="profile-icon" />
          <p>
            Welcome! Please login to your account.
          </p>
        </div>

        <mat-card-content>
          <form #authForm="ngForm" (ngSubmit)="onSignIn(authForm)">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input
                matInput
                name="email"
                required
                [(ngModel)]="auth.email"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                name="password"
                type="password"
                required
                [(ngModel)]="auth.password"
                placeholder=""
                value=""
                minlength="5"
              />
            </mat-form-field>
            <!-- Validation message -->
            <div
              *ngIf="errorMessage"
              class="error"
              style="text-align: center; color: #ff0000;"
            >
              <p>{{ errorMessage }}</p>
            </div>
            <mat-card-actions>
              <!-- Login button -->
              <button
                mat-flat-button
                style="width: 96%; margin-left: 2%;"
                color="primary"
                type="submit"
              >
                LOGIN
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <!-- <mat-checkbox>Remember me!</mat-checkbox> -->
          <a style="text-decoration: none; color: #2781fc; margin-left: 2%;"
            >Forgot password ?</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
  <section class="footer">
    <div class="social-links">
      <img
        src="../../../../assets/images/instagram.png"
        alt="Instagram"
        title="Instagram"
      />
      <img src="../../../../assets/images/twitter.png" alt="Twitter" title="Twitter" />
      <img
        src="../../../../assets/images/facebook.png"
        alt="Facebook"
        title="Facebook"
      />
      <img src="../../../../assets/images/web.png" alt="Web" title="Web" />
    </div>
    <div class="copyright-msg">
      <span>Powered by LTTS</span>
    </div>
  </section>
</div>
