// Login form main container
.signInContainer {
  background-image: url('src/assets/Background.png');
  height: auto;
  width: auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Left side Image
.leftSideImage img {
  height: auto;
  width: 100%;
}

// Login Form alignment
.signIn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  border-radius: 10px;
}

// profile icon in login form
.profile-icon {
  text-align: center;
}

mat-form-field {
  padding: 8px 0px;
}

//Login button
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  ;
}

.mat-flat-button.mat-primary {
  color: #212221;
  padding: 0px 125px;
  background-color: #E0EDFE;
  border: 1px solid #A0A0A0;
}

// Social media icon alignment
.signInContainer>div>img {
  padding: 10px 20px;
  cursor: pointer;
}

// Powered by text alignment
.signInContainer>div>span {
  display: flex;
  justify-content: center;
  margin-top: -45px;
  padding: 10px 0px;
  color: #fefefe;
}

// In checkbox Remember me text alignment and color coding
:host ::ng-deep .mat-checkbox-label {
  margin: 4px 0px 0px;
  color: #818181;
}

.socialMedia {
  position: absolute;
  bottom: 0;
}

// .center {
//   display: flex;
//   margin: 0 50%;
// }


@media only screen and (max-width: 1400px) and (min-width: 851px) {
  .signInContainer {
    background-image: url('src/assets/Background.png');
    height: 92.75%;
    width: auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 850px) and (min-width: 320px) {
  .signInContainer {
    background-image: url('src/assets/Background.png');
    height: auto;
    width: auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 850px) and (min-width: 768px) {
  .leftSideImage img {
    height: auto;
    width: 80%;
    margin-top: -250px;
    margin-left: 9%;
    margin-bottom: 10%;
  }
}

// @media only screen and (max-width: 767px) and (min-width: 0px) {
//   .leftSideImage img {
//     display: none;
//   }
// }

@media only screen and (max-width: 1999px) and (min-width: 990px) {
  .signIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 989px) and (min-width: 850px) {
  .signIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 450px) {
    .signInContainer>div>img {
        display: none;
    }
}
