// Login form main container
.signInContainer {
  background-image: url('src/assets/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100% - 64px); // 64px is the height of app bar

  @media (max-width: 900px) {
    height: calc(100% - 128px);
  }

  @media (max-width: 600px) {
    height: calc(100% - 112px);
  }

  .signInSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - 40px);

    .left-image-container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      // Hide on devices lower than tablet portrait
      @media (max-width: 900px) {
        display: none;
      }

      img {
        width: 600px;
      }
    }

    .right-form-container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      mat-card {
        max-width: 300px;
        border-radius: 10px;
      }

      .form-header {
        text-align: center;
        img {
          height: 60px;
          width: 60px;
        }
      }
      @media (max-width: 900px) {
        width: 100%;
      }

      @media (max-width: 600px) {
        margin: 0 1rem;
        width: 100%;
      }

      mat-card-actions {
        padding: 0;
      }
    }
  }
  .footer {
    width: 100%;
    padding: 1rem 3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    .social-links {
      width: 45%;

      img {
        width: 2rem;
        height: 2rem;
        margin-right: 3rem;
      }
      @media (max-width: 900px) {
        img {
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
        }
      }
    }
    .copyright-msg {
      width: 65%;
      color: #fff;

      @media (max-width: 600px) {
        text-align: right;
      }
    }
  }
}
