<div class="signInContainer">
  <mat-card class="signIn">
    <h2>Sign In</h2>
    <div *ngIf="errorMessage" class="error">
      <p>{{ errorMessage }}</p>
    </div>

    <form #authForm="ngForm" (ngSubmit)="onSignUp(authForm)">
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input
          matInput
          name="username"
          placeholder="User Name"
          required
          [(ngModel)]="auth.username"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          name="email"
          placeholder="Email"
          required
          [(ngModel)]="auth.email"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          name="password"
          type="password"
          required
          [(ngModel)]="auth.password"
          placeholder=""
          minlength="5"
        />
      </mat-form-field>
      <div class="button-row text-right">
        <button mat-stroked-button routerLink="/auth/login" type="button">
          Registered User
        </button>
        <button mat-flat-button color="primary" type="submit">
          Sign Up
        </button>
      </div>
    </form>
  </mat-card>
</div>
