/*
COLORS:
AppBar: rgba(67, 67, 67)

SideBar: rgba(40, 92, 104)

SideBar MenuSelected: rgba(82, 128, 138)

GridHeader: rgba(165, 195, 201)

GridRowHover: rgba(232, 240, 242)

Font: rgba(61, 73, 91)

*/
$color-background: rgba(67, 67, 67);
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;

$font-primary: #3d495b; //rgba(61, 73, 91);
