<div class="x-ray-container">
  <!-- left Side Action Items -->
  <div class="action-panel">
    <div class="topItem">
      <button mat-button>
        Ask AI <img src="../../../assets/images/askAI.png" alt="Ask AI" />
      </button>
      <button mat-button>
        Pathology
        <img
          src="../../../assets/images/add pathology active.png"
          alt="Add Pathology"
        />
      </button>
      <button mat-button>
        Timeline<img
          src="../../../assets/images/timeline icon.png"
          alt="Timeline"
        />
      </button>
    </div>

    <div class="actionItem">
      <div class="actions">
        <img
          src="../../../assets/images/select icon active@2x.png"
          alt="Select Icon"
        />
      </div>
      <div class="actions">
        <img
          src="../../../assets/images/Fit to screen active@2x.png"
          alt="Fit to screen"
        />
      </div>
      <div class="actions">
        <img
          src="../../../assets/images/Icon feather-zoom-in@2x.png"
          alt="Zoom-In"
        />
      </div>
      <div class="actions">
        <img src="../../../assets/images/zoom out@2x.png" alt="Zoom-out" />
      </div>
      <div class="actions">
        <img
          src="../../../assets/images/rotate clockwise active@2x.png"
          alt="Ask AI"
        />
      </div>
      <div class="actions">
        <img
          src="../../../assets/images/rotate anticlockwise@2x.png"
          alt="Ask AI"
        />
      </div>
      <div class="actions">
        <img src="../../../assets/images/Flip Horizontal@2x.png" alt="Ask AI" />
      </div>
      <div class="actions">
        <img src="../../../assets/images/Flip Vertical@2x.png" alt="Ask AI" />
      </div>
    </div>

    <!-- Middle Icons -->

    <div class="middleItems">
      <div class="menus">
        <img src="../../../assets/images/undo active@2x.png" alt="Ask AI" />
      </div>
      <div class="menus">
        <img src="../../../assets/images/redo active@2x.png" alt="Ask AI" />
      </div>
      <div class="menus">
        <img src="../../../assets/images/ellipse@3x.png" alt="Ask AI" />
      </div>
      <div class="menus">
        <img src="../../../assets/images/pen tool@2x.png" alt="Ask AI" />
      </div>
      <div class="menus">
        <img
          src="../../../assets/images/measure length active@2x.png"
          alt="Ask AI"
        />
      </div>
      <div class="menus">
        <img
          src="../../../assets/images/measure angle active@2x.png"
          alt="Ask AI"
        />
      </div>
      <div class="menus">
        <img src="../../../assets/images/arrow active@2x.png" alt="Ask AI" />
      </div>
      <div class="menus">
        <img src="../../../assets/images/text active@2x.png" alt="Ask AI" />
      </div>
      <div class="menus">
        <img src="../../../assets/images/save active@2x.png" alt="Ask AI" />
      </div>
      <div class="menus">
        <img
          src="../../../assets/images/erase tool active@2x.png"
          alt="Ask AI"
        />
      </div>
      <div class="menus">
        <img src="../../../assets/images/settings active@2x.png" alt="Ask AI" />
      </div>
      <div class="menus">
        <img src="../../../assets/images/delete active@2x.png" alt="Ask AI" />
      </div>
    </div>

    <!-- Bottom slider -->
    <div class="sliderItems">
      <div class="slider">
        <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
      </div>
      <div class="slider">
        <ng5-slider [(value)]="values" [options]="option"></ng5-slider>
      </div>
    </div>

    <div class="brightness">
      <div class="contrast">
        <img src="../../../assets/images/Brightness@2x.png" alt="Select Icon" />
      </div>
      <div class="contrast">
        <img src="../../../assets/images/Contrast@2x.png" alt="Select Icon" />
      </div>
    </div>
  </div>

  <!-- Main Content X-Ray Aspect Ratio Part -->
  <div class="xray-panel">
    <img
      src="../../../assets/images/download.jpg"
      height="100%"
      width="100%"
      alt=""
    />
  </div>

  <!-- Right Side Content -->
  <div class="info-panel">
    <div class="patient-info">
      <img
        src="../../../assets/images/Icon patientdetails@2x.png"
        alt=""
        height="25px"
        width="25px"
      />
      <span>Patient Details</span>
    </div>

    <div class="patient-info">
      <div class="">
        <span>FINDINGS</span>
      </div>
    </div>

    <div class="patient-info">
      <div class="">
        <span>IMPRESSION</span>
      </div>
    </div>

    <button mat-flat-button color="primary" type="submit">
      REPORT <img src="../../../assets/images/report icon@2x.png" alt="" />
    </button>

    <button mat-flat-button color="primary" type="submit">
      SUBMIT <img src="../../../assets/images/submit icon@2x.png" alt="" />
    </button>
  </div>
</div>
