<div class="x-ray-container">
  <!-- left Side Action Items -->
  <div class="action-panel">
    <!-- Top 3 Buttons -->
    <div class="topIcon">
      <button mat-button>
        Ask AI &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<img
          src="../../../assets/askAI.png"
          alt="Ask AI"
        />
      </button>

      <button mat-button>
        Pathology
        <img
          src="../../../assets/add pathology active.png"
          alt="Add Pathology"
        />
      </button>
      <button mat-button>
        Timeline &nbsp;&nbsp;<img
          src="../../../assets/timeline icon.png"
          alt="Timeline"
        />
      </button>

      <!-- <div class="askAi">
        Ask AI <img src="../../../assets/askAI.png" alt="Ask AI" >
      </div>
      <div class="askAi">
        Pathology <img src="../../../assets/add pathology active.png" alt="Pathology" >
      </div>
      <div class="askAi">
        Timeline <img src="../../../assets/timeline icon.png" alt="Timeline" >
      </div> -->
    </div>

    <!-- Middle Icons -->

    <div class="actionItems">
      <div class="item1">
        <button class="menu" mat-button>
          <img
            src="../../../assets/select icon active@2x.png"
            alt="Select Icon"
          />
        </button>
        <button class="menu" mat-button>
          <img
            src="../../../assets/Fit to screen active@2x.png"
            alt="Fit to screen"
          />
        </button>

        <button class="menu" mat-button>
          <img
            src="../../../assets/Icon feather-zoom-in@2x.png"
            alt="Zoom-In"
          />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/zoom out@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img
            src="../../../assets/rotate clockwise active@2x.png"
            alt="Ask AI"
          />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/rotate anticlockwise@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/Flip Horizontal@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/Flip Vertical@2x.png" alt="Ask AI" />
        </button>
      </div>

      <div class="item2">
        <button class="menu" mat-button>
          <img src="../../../assets/undo active@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/redo active@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/ellipse@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/pen tool@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img
            src="../../../assets/measure length active@2x.png"
            alt="Ask AI"
          />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/measure angle active@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/arrow active@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/text active@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/save active@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/erase tool active@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/settings active@2x.png" alt="Ask AI" />
        </button>
        <button class="menu" mat-button>
          <img src="../../../assets/delete active@2x.png" alt="Ask AI" />
        </button>
      </div>
      <div class="item3">
        <div style="height: 200px;"></div>
      </div>
    </div>
  </div>

  <!-- Main Content X-Ray Aspect Ratio Part -->
  <div class="x-ray-item xray-panel">
    <img src="../../../assets/download.jpg" height="100%" width="100%" alt="" />
  </div>

  <!-- Right Side Content -->
  <div class="x-ray-item info-panel">
    <mat-card class="patient-info">
      <h4 class="patient-info-header">
        <span class="material-icons Patient-info-icon">
          person
        </span>
        <span class="Patient-content">Patient Details</span>
      </h4>
      <p>
        <mat-label>Name:</mat-label>{{ PatientName }}
        <mat-label class="gender_info">[{{ PatientGender }}]</mat-label>
        <mat-label class="gender_info">{{ PatientAge }}</mat-label>
      </p>
      <p><mat-label>Ref.Physician:</mat-label>{{ refPhysician }}</p>
      <p><mat-label>Date of creation:</mat-label>{{ Date }}</p>
      <p><mat-label>Time:</mat-label>{{ Time }}</p>
      <p>
        <mat-label>Clinical History:</mat-label>
        <mat-card-content>{{ History }}</mat-card-content>
      </p>
    </mat-card>

    <mat-card class="slider">
      <mat-carousel
        [autoplay]="false"
        color="black"
        maxWidth="100%"
        maxHeight="100%"
        proportion="40"
        slides="5"
        [loop]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
      >
        <mat-carousel-slide
          #matCarouselSlide
          *ngFor="let slide of slides; let i = index"
          [image]="slide.img"
          overlayColor="#00000040"
          [hideOverlay]="true"
        ></mat-carousel-slide>
      </mat-carousel>
    </mat-card>

    <mat-card class="findings">
      <h4>
        <span class="patient-findings">FINDINGS</span>
        <img
          class="update-icon"
          src="../../../assets/update default.png"
          alt="update"
        />
      </h4>
    </mat-card>

    <mat-card class="impression">
      <h4 class="patient-info-header">
        <span>IMPRESSIONS</span>
      </h4>
    </mat-card>

    <button mat-flat-button type="submit">
      REPORT <img src="../../../assets/report icon@2x.png" alt="" />
    </button>

    <button mat-flat-button type="submit">
      SUBMIT <img src="../../../assets/submit icon@2x.png" alt="" />
    </button>
  </div>
</div>
