.x-ray-container {

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  background-color: #f5f5f5;
  display: flex;
  height: calc(100% - 64px);

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    min-width: 0px;
    padding: 0px 5px;
  }

  .action-panel {
    overflow-y: auto;
    flex-basis: 8%;
    margin: 1rem 0.5rem;

    .topItem {
      button {
        font-size: 12px;
        padding: 0px;
        width: 100%;
        text-align: left;
        font-weight: 500;
        color: #434343;

        img {
          height: 2rem;
          width: 2rem;
          margin: 10px 12px 0px 0px;
          float: right;
        }
      }
    }

    .actionItem {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2.5rem;

      .actions {
        width: calc(50% - 10px);
        margin-left: 5px;
        margin-top: 10px;
        text-align: center;
        height: 28px;

        img {
          height: 2rem;
          width: 2rem;
          cursor: pointer;
        }
      }

    }

    .middleItems {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2.5rem;

      .menus {
        width: calc(50% - 10px);
        margin-left: 5px;
        margin-top: 10px;
        text-align: center;
        height: 25px;

        img {
          height: 2rem;
          width: 2rem;
          cursor: pointer;
        }
      }

    }

    .sliderItems {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2.5rem;

      .slider {
        height: 140px;
        width: calc(50% - 10px);

        ::ng-deep .ng5-slider .ng5-slider-pointer {
          cursor: pointer;
          width: 18px;
          height: 18px;
          background-color: #285c68;
          z-index: 3;
          border-radius: 16px;
        }

        // Slider inside white color background removed(Make it to display:none)
        ::ng-deep .ng5-slider .ng5-slider-pointer:after {
          display: none;
        }

        // Slider verticle bar aligned
        ::ng-deep .ng5-slider.vertical .ng5-slider-pointer {
          left: -6px !important;
          top: auto;
          bottom: 0;
        }

        // round circle green color on verticle bar
        ::ng-deep .ng5-slider.vertical .ng5-slider-bar {
          bottom: 0;
          left: auto;
          width: 5px;
          height: 100%;
        }

        // Displaying number 0 to 100 make to display:none
        ::ng-deep .ng5-slider.vertical .ng5-slider-bubble {
          display: none;
          left: 16px !important;
          bottom: 0;
        }

      }
    }

    .brightness {
      display: flex;
      flex-wrap: wrap;
      .contrast img {
        width: calc(50% - 10px);
        margin-left: 15px;
        margin-top: 10px;
        text-align: center;
        height: 2rem;
        width: 2rem;
      }
    }
    @media (max-width: 1240px) and (min-width: 991px) {
      flex-basis: 12%;
    }

    @media (max-width: 990px) {
      flex-basis: 14%;
    }

    @media (max-width: 840px) {
      flex-basis: 18%;
    }

  }

  .xray-panel {
    height: calc(100%-64px);
    background-color: #000000;
    flex-basis: 72%;
  }

  .info-panel {
    flex-basis: 20%;

    .patient-info {
      margin: 1rem;
      padding: 1rem 0rem;
      height: 200px;
      width: 260px;
      box-shadow: 5px 0 20px 0 #ababab;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      justify-content: center;

      span {
        padding: 0.35rem 1rem;
        font-size: 16px;
        font-weight: 500;
      }
    }

    button {
      width: 92%;
      margin: 5px 10px;

      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}
