<div class="lengthAngleItems">
  <div
    class="menus"
    *ngFor="let lengthangle of lengthAnglePanel; let i = index"
    [ngStyle]="{
      cursor: lengthangle.implemented === true ? 'pointer' : 'no-drop'
    }"
  >
    <img
      [ngClass]="
        lengthAnglePanel[i].active && lengthangle.implemented === true
          ? 'icon-select-BG'
          : lengthangle.implemented === true
          ? 'icon-active-BG'
          : 'icon-disabled-BG'
      "
      [src]="lengthangle.image"
      [alt]="lengthangle.alt"
      (click)="
        lengthangle.implemented === true ? iconAction(lengthAnglePanel, i) : ''
      "
      [title]="lengthangle.title"
    />
  </div>
</div>
