<div class="arrowTextItems">
    <div
      class="menus"
      *ngFor="let arrowtext of arrowTextPanel; let i = index"
      [ngStyle]="{
        cursor: arrowtext.implemented === true ? 'pointer' : 'no-drop'
      }"
    >
      <img
        [ngClass]="
        arrowTextPanel[i].active && arrowtext.implemented === true
            ? 'icon-select-BG'
            : arrowtext.implemented === true
            ? 'icon-active-BG'
            : 'icon-disabled-BG'
        "
        [src]="arrowtext.image"
        [alt]="arrowtext.alt"
        (click)="
        arrowtext.implemented === true ? iconAction(arrowTextPanel, i) : ''
        "
        [title]="arrowtext.title"
      />
    </div>
  </div>
  