.grid-width {
  width: 100% !important;
}
#at-input-searchPatient {
  width: 45%;
  margin-bottom: -35px;
}
.text-center {
  text-align: center;
}
.tableBgColor,
::ng-deep .ag-header {
  background-color: #add8e6 !important;
}
::ng-deep .ag-header {
  margin-top: 35px !important;
}
.searchBar {
  margin: 0 !important;
  padding-bottom: 15px !important;
}
::ng-deep .mat-form-field-outline {
  background-color: white !important;
  border-radius: 5px !important;
}
.search-patient {
  margin-bottom: 3px !important;
  padding-left: 10px !important;
}
::ng-deep .ag-paging-panel {
  position: absolute;
  right: 0;
  border-top: none !important;
  width: 100%;
  background-color: #add8e6 !important;
}
::ng-deep .ag-header-cell.ag-column-hover {
  background-color: #add8e6 !important;
}
