.grid-width {
  width: 100% !important;
  margin-top: -79px;
}
#at-input-searchPatient {
  width: 40%;
  z-index: 999;
  margin-left: 23%;
}
.text-center {
  text-align: center;
}
.tableBgColor,
::ng-deep .ag-header {
  background-color: #add8e6 !important;
}
::ng-deep .ag-header {
  margin-top: 52px !important;
}
.searchBar {
  margin: 0 !important;
  padding-bottom: 15px !important;
}
::ng-deep .mat-form-field-outline {
  background-color: white !important;
  border-radius: 5px !important;
}
.search-patient {
  margin-bottom: 3px !important;
  padding-left: 10px !important;
}
::ng-deep .ag-paging-panel {
  position: absolute;
  right: 0;
  border-top: none !important;
  width: 100%;
  background-color: #add8e6 !important;
  margin-top:10px !important;
}
::ng-deep .ag-header-cell.ag-column-hover {
  background-color: #add8e6 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0 !important;
}
