<div id="at-id-patientTable">
  <p class="text-center tableBgColor searchBar">
    <mat-form-field id="at-input-searchPatient" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="search" [(ngModel)]="searchValue" placeholder="Search Patient" class="search-input">
    </mat-form-field>
  </p>
  <ag-grid-angular id="myGrid" #agGrid
        style="width: 100%"
        class="ag-theme-material"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]=true
        [quickFilterText]="searchValue"
        [domLayout]="domLayout">
  </ag-grid-angular>
</div>