/*  SECTIONS  */
.section {
  clear: both !important;
  padding: 0px !important;
  margin: 0px !important;
}

/*  COLUMN SETUP  */
.col {
  display: block !important;
  float: left !important;
  margin: 1% 0 1% 1.6% !important;
}
.col:first-child {
  margin-left: 0 !important;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: '';
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}
/*  GRID OF TWELVE  */
.col-12 {
  width: 100% !important;
}

.col-11 {
  width: 91.53% !important;
}
.col-10 {
  width: 83.06% !important;
}

.col-9 {
  width: 74.6% !important;
}

.col-8 {
  width: 66.13% !important;
}

.col-7 {
  width: 57.66% !important;
}

.col-6 {
  width: 49.2% !important;
}

.col-5 {
  width: 40.73% !important;
}

.col-4 {
  width: 32.26% !important;
}

.col-3 {
  width: 23.8% !important;
}

.col-2 {
  width: 15.33% !important;
}

.col-1 {
  width: 6.866% !important;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0% !important;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100% !important;
  }
}
