@import './theme.scss';
@import './abstracts/variable';
@import './base/typography';
@import './base/utilities';
@import './base/base';
@import './custom-material.scss';
@import './grid.scss';
@import './scroll.scss';
@import './utils.scss';
@import '../../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin.scss';
@import '../../node_modules/ngx-toastr/toastr.css';
.ag-theme-material {
  @include ag-theme-material();
}
.toast-top-center {
  top: 10%;
  margin: 0 auto;
}
.disabled {
  cursor: no-drop !important;
  opacity: 0.5 !important;
}
