<div class="upload-image-container">
  <div class="upload-image-header">
    <h1>New Patient Entry</h1>
    <progress value="32" max="100"></progress>
  </div>

  <div class="upload-image-body">
    <div class="upload-image-pf">
      <h2>PATIENT DETAILS</h2>
      <form>
        <strong>1.Personal Information *</strong>
        <br />
        <label for="">Name:</label>
        <div>
          <input type="text" placeholder="Enter name" />
        </div>
        <label for="">Gender</label>
        <div class="radio-button">
          <input type="radio" id="test1" name="radio-group" checked />
          <label for="test1">Male</label>

          <input type="radio" id="test2" name="radio-group" />
          <label for="test2">Female</label>

          <input type="radio" id="test3" name="radio-group" />
          <label for="test3">Other</label>
        </div>
        <label for="">Date 0f birth:</label>
        <div>
          <input type="date" placeholder="Enter name" />
        </div>

        <strong>2.Contact Information </strong>
        <br />
        <label for="">Email:</label>
        <div>
          <input type="email" placeholder="Enter Email ID" />
        </div>
        <label for="">Phone No.:</label>
        <div class="radio-button">
          <input type="number" placeholder="Enter phone number">
        </div>
        <label for="">Address:</label>
        <div>
          <textarea name="" id="" rows="5"></textarea>
        </div>
      </form>

    </div>
    <div class="upload-image-local-file">
      <h2>UPLOAD X-RAY IMAGE *</h2>
      <form>
        <strong>1. Personal Information *</strong>
      </form>
    </div>
  </div>
</div>
