<div class="upload-image-container">
  <div class="upload-image-header">
    <h1>New Patient Entry</h1>
  </div>

  <div class="upload-image-body">
    <!-- left patient information -->
    <div class="upload-image-personal-info">
      <form [formGroup]="uploadImageForm">
        <h3>1.Personal Information *</h3>
        <label for="">Name:</label>
        <div>
          <input
            type="text"
            placeholder="Enter name"
            formControlName="name"
            name="name"
            autocomplete="off"
          />
        </div>
        <div
          *ngIf="
            uploadImageForm.controls['name'].invalid &&
            (uploadImageForm.controls['name'].dirty ||
              uploadImageForm.controls['name'].touched)
          "
          class="alert-danger"
        >
          <div
            style="margin: 0;"
            *ngIf="uploadImageForm.controls['name'].errors.required"
          >
            Name is required.
          </div>
        </div>

        <div *ngIf="uploadImageForm.controls['name'].errors && uploadImageForm.controls['name'].touched && !uploadImageForm.controls['name'].errors.required">
          <div
            class="alert-danger"
            style="margin: 0;"
            *ngIf="uploadImageForm.controls['name'].errors && uploadImageForm.controls['name'].touched"
          >
            Name is not a valid format.
          </div>
        </div>

        <label for="">Gender:</label>
        <div class="radio-button">
          <input
            type="radio"
            id="test1"
            value="MALE"
            formControlName="gender"
            name="gender"
            autocomplete="off"
          />
          <label for="test1">Male</label>
          <input
            type="radio"
            id="test2"
            value="FEMALE"
            formControlName="gender"
            name="gender"
            autocomplete="off"
          />
          <label for="test2">Female</label>
          <input
            type="radio"
            id="test3"
            value="other"
            formControlName="gender"
            name="gender"
            autocomplete="off"
          />
          <label for="test3">Other</label>
        </div>
        <div
          *ngIf="
            uploadImageForm.controls['gender'].invalid &&
            (uploadImageForm.controls['gender'].dirty ||
              uploadImageForm.controls['gender'].touched)
          "
          class="alert-danger"
        >
          <div
            style="margin: 0;"
            *ngIf="uploadImageForm.controls['gender'].errors.required"
          >
            Gender is required.
          </div>
        </div>

        <label for="">Date of birth:</label>
        <div>
          <input
            type="date"
            placeholder="Enter date"
            formControlName="dateOfBirth"
            name="dateOfBirth"
            autocomplete="off"
            id="datepicker"
            [max]="getToday()"
          />
        </div>
        <div
          *ngIf="
            uploadImageForm.controls['dateOfBirth'].invalid &&
            (uploadImageForm.controls['dateOfBirth'].dirty ||
              uploadImageForm.controls['dateOfBirth'].touched)
          "
          class="alert-danger"
        >
          <div
            style="margin: 0;"
            *ngIf="uploadImageForm.controls['dateOfBirth'].errors.required"
          >
            Date of birth is required.
          </div>
        </div>
        <br />

        <h3>2.Contact Information</h3>
        <label for="">Email:</label>
        <div>
          <input
            placeholder="Enter Email ID"
            formControlName="email"
            name="email"
            autocomplete="off"
            email
          />
        </div>
        <div *ngIf="uploadImageForm.controls['email'].errors">
          <div
            class="alert-danger"
            style="margin: 0;"
            *ngIf="uploadImageForm.controls['email'].errors"
          >
            Email is not a valid format.
          </div>
        </div>
        <label for="">Phone No.:</label>
        <div>
          <input
            type="text"
            placeholder="Enter phone number"
            formControlName="phoneNumber"
            name="phoneNumber"
            autocomplete="off"
            maxlength="10"
          />
        </div>
        <div *ngIf="uploadImageForm.controls['phoneNumber'].errors">
          <div
            class="alert-danger"
            style="margin: 0;"
            *ngIf="uploadImageForm.controls['phoneNumber'].errors"
          >
            Mobile number is not a valid format.
          </div>
        </div>
        <label for="">Address:</label>
        <div>
          <textarea
            name=""
            id=""
            rows="5"
            formControlName="address"
            name="address"
            autocomplete="off"
          ></textarea>
        </div>
      </form>
    </div>

    <!-- Right image section -->
    <div class="upload-image-local-file">
      <h3>3.Upload X-Ray Image *</h3>
      <form [formGroup]="uploadImageForm">
        <cxr-drag-drop
          (dragImageSrc)="dragDropEvent($event)"
          (dragImageFile)="dragDropFile($event)"
        ></cxr-drag-drop>
        <div style="text-align: center;">
          <pre>(or)</pre>
        </div>

        <div class="input-group" formGroupName="XRayImage">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              formControlName="file"
              placeholder="Choose file"
              id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01"
              accept=".JPEG, .jpeg, .jpg, .JPG, .png, .PNG"
              (change)="onFileChange($event)"
            />
            <label class="custom-file-label" for="inputGroupFile01">{{
              fileName
            }}</label>
          </div>
        </div>

        <button
          type="button"
          [disabled]="uploadImageForm.invalid"
          mat-raised-button
          (click)="onSubmit()"
        >
          Report <img src="../../../../assets/images/arrow next.png" alt="" />
        </button>
      </form>
    </div>
  </div>
</div>
