.header {
  background-color: #303030;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;

  .logo {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 5px;
  }

  .menu-items {
    flex: 1 1 auto;
  }

  @media (max-width: 900px) {
    .menu-items+div {
      display: none;
    }
  }
}

.mobile-header {
  background-color: #303030;
  color: #ffffff;
  padding: 1rem;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: 900px) {
    display: none;
  }

  .space-between {
    justify-content: space-between;
  }

  .sign-in-text {
    border: 1px solid #A5C3C9;
    border-radius: 5px;
    background-color: #A5C3C9;
  }
}