<mat-toolbar class="header">
  <span class="logo"
    ><img
      src="../../../../../assets/images/CXR.png"
      alt="CXR_Logo"
      width="100%"
      height="35px"
  /></span>
  <span class="menu-items"></span>
  <div>
    <button mat-button [routerLink]="['/about']" routerLinkActive="router-link-active">About</button>
    <a mat-button href="https://www.ltts.com/contact-us" target="_blank" title="Get in touch with us | ltts.com/contact-us">Contact Us</a>
    <button color="primary" mat-flat-button [routerLink]="['/auth/login']" >Sign In</button>
  </div>
</mat-toolbar>

<!-- <mat-toolbar class="mobile-header">
  <button class="mobile-button" mat-button [routerLink]="['/about']" routerLinkActive="router-link-active">About</button>
  <a class="mobile-button" mat-button href="https://www.ltts.com/contact-us" target="_blank" title="Get in touch with us | ltts.com/contact-us">Contact Us</a>
  <button color="primary" mat-flat-button [routerLink]="['/auth/login']">Sign In</button>
</mat-toolbar> -->

<router-outlet></router-outlet>
