.header {
  background-color: #303030;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;

  .logo {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 5px;
  }

  .menu-items {
    flex: 1 1 auto;
  }

  @media (max-width: 900px) {
    .menu-items + div {
      display: none;
    }
  }
  button {
    min-width: 90px;
  }

  .router-link-active {
    background: #818181;
    border-radius: 0;
    height: 64px;
    border-bottom: 4px solid #ffffff;
    border-top: 4px solid #818181;
  }
}

.mobile-header {
  background-color: #303030;
  color: #ffffff;
  padding: 1rem;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;

  @media (min-width: 900px) {
    display: none;
  }

  .router-link-active {
    height: 64px;
    background: #818181;
    border-radius: 0;
    border-bottom: 4px solid #fff;
    width: 15%;
  }

  // .space-between {
  //   justify-content: space-between;
  // }

  // .sign-in-text {
  //   border: 1px solid #A5C3C9;
  //   border-radius: 5px;
  //   background-color: #a5c3c9;
  // }
}
