<mat-toolbar class="header">
  <span class="logo"
    ><img
      src="../../../../../assets/CXR.png"
      alt="CXR_Logo"
      width="100%"
      height="35px"
  /></span>
  <span class="menu-items"></span>
  <div>
    <button mat-button>About</button>
    <button mat-button>Product</button>
    <button mat-button>Contact Us</button>
    <button color="primary" mat-flat-button>Sign In</button>
  </div>
</mat-toolbar>

<mat-toolbar class="mobile-header">
  <button mat-button>About</button>
  <button mat-button>Product</button>
  <button mat-button>Contact Us</button>
  <button color="primary" mat-flat-button>Sign In</button>
</mat-toolbar>

<router-outlet></router-outlet>
