<mat-card class="findings">
  <mat-card-title>
    FINDINGS
    <img
      class="refresh-icon"
      src="../../../../../assets/images/update default.png"
      alt="update"
    />
  </mat-card-title>
  <mat-card-content style="margin-left: 2rem;">
    <ul
      style="font-size: 2rem; display: flex;"
      *ngFor="let finding of findings"
    >
      <li>
        <input
          [value]="finding"
          class="finding-input"
          matInput
          style="border: 0;"
        />
      </li>
    </ul>
  </mat-card-content>
</mat-card>
