<mat-card class="findings">
  <mat-card-title>
    FINDINGS
    <img
      class="refresh-icon"
      src="../../../../../assets/images/update default.png"
      alt="update"
    />
  </mat-card-title>
  <mat-card-content class="findings-content" *ngFor="let finding of findings; let i = index">
    <button *ngIf="finding !== ' '"></button>
    <span class="textarea" role="textbox" [ngClass]="{additionalFindings: finding === ' ' }"(keydown)="preventBaseValue($event)" (focusout)="updateFindings($event, i)" contenteditable>{{ finding }}</span>
  </mat-card-content>
</mat-card>
