<div class="actionZoomInOutItem">
  <div
    class="actions"
    *ngFor="let actions of actionPanelZoom; let i = index"
    [ngStyle]="{
      cursor: actions.implemented === true ? 'pointer' : 'no-drop'
    }"
  >
    <img
    [ngClass]="
    actionPanelZoom[i].active && actions.implemented === true
      ? 'icon-select-BG'
      : actions.implemented === true
      ? 'icon-active-BG'
      : 'icon-disabled-BG'
      "
      [src]="actions.image"
      [alt]="actions.alt"
      [title]="actions.title"
      (click)="
      actions.implemented === true ? iconAction(actionPanelZoom, i) : ''
    "
    />
  </div>
</div>
