<div class="ellipseFreeHandItems">
  <div
    class="menus"
    *ngFor="let ellipse of ellipseFreeHandPanel; let i = index"
    [ngStyle]="{
      cursor: ellipse.implemented === true ? 'pointer' : 'no-drop'
    }"
  >
    <img
      [ngClass]="
        ellipseFreeHandPanel[i].active && ellipse.implemented === true
          ? 'icon-select-BG'
          : ellipse.implemented === true
          ? 'icon-active-BG'
          : 'icon-disabled-BG'
      "
      [src]="ellipse.image"
      [alt]="ellipse.alt"
      (click)="
        ellipse.implemented === true ? iconAction(ellipseFreeHandPanel, i) : ''
      "
      [title]="ellipse.title"
    />
  </div>
</div>
