<router-outlet></router-outlet>
<cxr-spinner *ngIf="isLoading"></cxr-spinner>
<ng-template #idleTimeoutModel>
  <h2 mat-dialog-title>Session time out alert</h2>
  <mat-dialog-content id="idleTimeoutModel">
        <p>Your session is about to expire. You will be automatically signed out in</p>
        <p>
            <b>{{counter | formatTime}}</b>
        </p>
        <p>To continue session, select <b>Stay Signed In</b></p>
  </mat-dialog-content>
  <mat-dialog-actions id="idleTimeoutModel" align="center">
    <button mat-button
      class="staySignedIn"
      mat-raised-button
      (click)="stayInApp()"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Stay Signed In
    </button>
    <button mat-raised-button  class="logOut" (click)="logout()"
      [mat-dialog-close]="true"
    >
      LogOut
    </button>
  </mat-dialog-actions>
</ng-template>
