::ng-deep {
    mat-dialog-container {  
        mat-dialog-content {
            margin: 0px;
            padding: 0px;
            max-height: 42vh;
            width: 100% !important;
            background-color: black !important;
            color: #ffffff;
            border-radius: 1rem;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        mat-dialog-content#idleTimeoutModel {
            display: table-cell;
            padding: 16px 12px 0px 20px;
            border-radius: 7px;
            h2 {
                font-weight: 400;
                padding-bottom: 1rem;
            }
            .sub-delete-title {
                font-size: 1.3rem;
            }
        }
        mat-dialog-actions#idleTimeoutModel {
            justify-content: space-between;
            margin-top: 0.8rem;
            .staySignedIn {
                cursor: pointer;
                width: 110px;
                height: 35px;
                color: #ffffff;
                font-size: 1.5rem;
                background-color:  #28a745 !important;
                border-radius: 5px;
            }
            .logOut {
                cursor: pointer;
                width: 110px;
                height: 35px;
                color: #ffffff;
                font-size: 1.5rem;
                background-color: #ff4d4d !important;
                border-radius: 5px;
            }
        }
    }
}
::ng-deep .mat-dialog-container {
    padding-top: 0 !important;
    background-color: #3d3f44;
    height: 100% !important;
    opacity: 0.9;
    h2 {
      font-size: 18px;
      font-weight: normal;
      color: #ffffff;
      margin: 0;
      margin-bottom: 5px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: #000000 !important;
      color: #ffffff;
      border-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 40px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0 !important;
      color: #ffffff;
      display: flex;
      justify-content: center;
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0;
      padding-bottom: 0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border-radius: 0px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-start {
      border-radius: 0px;
    }
    .mat-form-field-appearance-outline
      .mat-form-field-outline-thick
      .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-width: 1px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-start,
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
      min-width: 0px;
      border: none;
      border-bottom: 1px solid #5d5f64;
    }
    mat-dialog-content {
      margin: 0px;
      padding: 0px;
      max-height: 42vh;
      width: 100% !important;
      background-color: black;
      border-radius: 1rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .mat-dialog-actions[align='center'] {
      justify-content: space-between;
      margin-top: 1.5rem;
      button {
        width: 110px;
        height: 35px;
        color: #ffffff;
        font-size: 1.5rem;
      }
    }
  }
  