.x-ray-patient-image-container {
  margin-top: 10px;
  width: 95%;
  overflow-y: auto;

  .buttonGroup {
    background-color: #ebeded;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 3px;
    border-radius: 3px;
    button {
      width: 25%;
      padding: 0px 3px;
      background-color: #ebeded;

      mat-icon {
        height: 20px;
        width: 20px;
      }
      @media (max-width: 950px) {
        width: 33.33%;
      }
      @media (max-width: 900px) {
        width: 50%;
      }
    }
    button:hover {
      background-color: #d8dcdc;
    }
    button:focus {
      background-color: #7ca5ae;
      color: #fefefe;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.hide-xray {
  display: none;
}

.patientAnnotatedImage {
  display: flex;
  img {
    height: auto;
    max-width: 100%;
  }
}
