button {
    margin: 0 4px;
}
.page-container {
    display: contents;
    justify-content: center;
    position: relative;
    top: -10px;
    button{
        min-width: 35px !important;
        padding: 0;
    }
    .mat-icon{
        width: 15px;
    }
}