<div class="add-radiologist-container">
  <h1 mat-dialog-title>
    Radiologist Registration
    <span (click)="close()" class="close">&times;</span>
  </h1>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="addRadiologistForm">
      <div class="container">
        <label for="username"><b>Username</b></label>
        <input
          type="text"
          formControlName="userName"
          placeholder="Enter Username"
          name="userName"
          autocomplete="off"
          required
        />
        <cxr-control-message
          [title]="'Username'"
          [control]="addRadiologistForm.controls.userName"
          [isFormSubmit]="isFormSubmit"
        ></cxr-control-message>

        <label for="email"><b>Email</b></label>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter Email"
          name="email"
          autocomplete="off"
          required
        />
        <cxr-control-message
          [title]="'Email'"
          [control]="addRadiologistForm.controls.email"
          [isFormSubmit]="isFormSubmit"
        ></cxr-control-message>

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          formControlName="password"
          placeholder="Enter Password"
          name="password"
          autocomplete="off"
          required
        />
        <cxr-control-message
          [title]="'Password'"
          [control]="addRadiologistForm.controls.password"
          [isFormSubmit]="isFormSubmit"
        ></cxr-control-message>

        <label for="confirmPassword"><b>Confirm Password</b></label>
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Enter Confirm Password"
          name="confirmPassword"
          autocomplete="off"
          required
        />
        <cxr-control-message
          [title]="'Confirm Password'"
          [control]="addRadiologistForm.controls.confirmPassword"
          [isFormSubmit]="isFormSubmit"
        ></cxr-control-message>
        <label for="confirmPassword"><b>Expiry Date</b></label>
        <input
          type="date"
          formControlName="confirmExpiry"
          placeholder="DD/MM/YYYY"
          name="confirmExpiry"
          autocomplete="off"
        />
        <label for="confirmPassword"><b>Date Of Birth</b></label>
        <input
          type="date"
          formControlName="confirmDob"
          placeholder="DD/MM/YYYY"
          name="confirmDOB"
          autocomplete="off"
        />

        <label for="confirmPassword"><b>Select Type</b></label>
        <select formControlName="roles">
          <option value="">Select Radiologist Type</option>
          <option
            [value]="radiologistType"
            *ngFor="let radiologistType of typeOfRadiologist"
            >{{ radiologistType }}</option
          >
        </select>
        <cxr-control-message
          [title]="'Radiologist Type'"
          [control]="addRadiologistForm.controls.roles"
          [isFormSubmit]="isFormSubmit"
        ></cxr-control-message>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button
      type="submit"
      mat-raised-button
      [disabled]="!addRadiologistForm.valid"
      (click) = 'addRadiologists()'
      [ngClass]="{ 'disable-color': !addRadiologistForm.valid }"
      id="isSubmit"
    >
      Submit
    </button>
  </mat-dialog-actions>
</div>
