::ng-deep .mat-dialog-container {
  padding-top: 0 !important;
  background-color: #ffffff;
  height: 100% !important;
  opacity: 1 !important;

  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  margin: auto;
  width: 50%;
  min-height: inherit;
  max-height: inherit;
}

::ng-deep .mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  min-height: 65vh;
  max-height: 70vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.container {
  width: 100%;
}

.add-radiologist-container {
  h1 {
    margin: 10px auto;
  }
  .close {
    float: right;
    cursor: pointer;
  }
  .row {
    display: flex;
  }

  label {
    margin-bottom: 0;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  select {
    // min-width: 70%;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background: #285c68;
    color: #fefefe;
  }
  .disable-color {
    background-color: #c0c0c0;
  }
}
