.cxr-x-ray-patient-details {
  width: 100%;

  [contenteditable]:focus {
    outline: 0px solid transparent;
  }
  .patient-details-group,
  .clinical-history-group {
    .profile-icon,
    .clinical-history-icon {
      display: flex;
      img {
        height: 20px;
        width: 18px;
        margin: 3px;
      }
      span {
        color: #fefefe;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 3px 0px;
      }
    }
    .patient-info,
    .clinical-info {
      width: 98%;
      min-height: 95px;
      max-height: auto;
      overflow-y: auto;
      margin: 5px;
      padding: 5px;
      border: solid 2px #adb2b7;
      border-radius: 5px;
      background-color: #ebeded;
    }

    .patient-info {
      .patient-status,
      .doctor-name {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        span {
          font-weight: 500;
          margin: 3px;

          a {
            font-weight: 400;
          }
        }
      }
      .mat-elevation-z0 {
        tr {
          td:first-child,  td:nth-child(3) {
            width: 31% !important;
          }
          td:nth-child(2), td:nth-child(4)  {
            width: 28% !important;
          }
          td:nth-child(3) mat-label::after {
            content: ":" !important;
            position: absolute;
            right: 10px;
          }
        }
      }
    }
    .clinical-info {
      min-height: 74px;
      max-height: auto;
    }
  }

  .findings-group,
  .impression-group,
  .comments-group {
    .findings-icon,
    .impression-icon,
    .comments-icon {
      display: flex;
      img {
        height: 20px;
        width: 18px;
        margin: 5px 5px;
      }
      span {
        color: #fefefe;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 0px;
      }
    }
    .findings-info,
    .impression-info,
    .comments-info {
      width: 98%;
      min-height: 137px;
      max-height: auto;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      background-color: #fefefe;

      li {
        margin-left: 3px;
        list-style-type: none;
      }
      @media (max-width: 1024px) {
        min-height: 110px;
        max-height: auto;
      }
    }

    .impression-info {
      min-height: 87px;
      max-height: auto;
    }

    .comments-info {
      min-height: 109px;
      max-height: auto;

      @media (max-width: 1024px) {
        min-height: 85px;
        max-height: auto;
      }
    }
  }
}

.print-patient-details {
  display: none;
}
