.slider {
  margin: 1rem;
  position: relative;
  height: auto;
  flex-basis: 100%;
  min-height: 15%;
  border-radius: 10px;
  background-color: #f8f8f8;
  text-align: center;
  overflow: hidden;
  padding: 0;
  box-shadow: none;
  mat-card-content {
    margin: 0;
    .slider-image {
      margin-top: 1rem;
      button {
        height: 120px;
        border: 0;
      }
      .first-slide {
        background-color: #212221;
        width: 150px;
        margin-right: 1rem;
      }
      .second-slide {
        background-color: #676767;
        width: 70px;
      }
    }
  }
  mat-card-footer {
    margin: 0;
    button {
      width: 35%;
      border: 2px solid #c5c5c5;
      height: 10px;
    }
    .button-first-slide {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: #fff;
    }
    .button-second-slide {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: #c5c5c5;
    }
  }
}

@media only screen and (max-width: 768px) {
  .first-slide {
    width: 135px !important;
  }
}
