<div class="navigate-index">
  <section class="navigation-buttons">
    <div class="prev-button">
      <button mat-button>
        <img
          class="pre-image"
          src="../../../../../../../assets/images/arrow back.png"
          alt="back_arrow"
        />&nbsp;
        Previous
      </button>
    </div>

    <div class="navigate-button">
      <button mat-button>
        <button class="status"></button>
        ID: {{ patientID }}
      </button>
    </div>

    <div class="next-button">
      <button mat-button>
        Next&nbsp;
        <img
          class="next-image"
          src="../../../../../../../assets/images/arrow next.png"
          alt="next_arrow"
        />
      </button>
    </div>
  </section>

  <section class="search-field">
    <div class="search">
      <span><i class="material-icons" matPrefix>search</i></span>
      <input type="text"/>
    </div>
  </section>
</div>
