<div class="navigate-index">
  <section class="navigation-buttons">
    <div class="prev-button" *ngIf="isHospitalRadiologist">
      <button mat-button *ngIf="router.url != '/report'">
        <img
          class="pre-image"
          src="../../../../../../../assets/images/arrow back.png"
          alt="back_arrow"
        />&nbsp; Previous
      </button>
    </div>

    <div class="navigate-button" *ngIf="isHospitalRadiologist">
      <button mat-button>
        <button
          [ngStyle]="{
            'background-color': isProcessed ? '#00ff00' : '#ff0000'
          }"
          class="status"
        ></button>
        ID: {{ patientID }}
      </button>
    </div>

    <div class="next-button" *ngIf="router.url != '/report' && isHospitalRadiologist">
      <button mat-button>
        Next&nbsp;
        <img
          class="next-image"
          src="../../../../../../../assets/images/arrow next.png"
          alt="next_arrow"
        />
      </button>
    </div>
  </section>

  <section class="search-field" *ngIf="router.url != '/report' && isHospitalRadiologist">
    <div class="search">
      <span><i class="material-icons" matPrefix>search</i></span>
      <input type="text" />
    </div>
  </section>
</div>
