
.navigate-index {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    color: white;
    width: 85%;
    .navigate{
        width: 32%;
        margin-top: 1.6rem;
        @media (max-width: 1400px) {
            width: 35%;
        }
        @media (max-width: 1130px) {
            width: 45%;
        }
        @media (max-width: 963px) {
            width: 55%;
        }
        @media (max-width: 846px) {
            width: 65%;
        }
        .prev-button{
            background-color: #434343;
            color: white;
            border: 0;
            cursor: pointer;
            padding-top: 1rem;
            display: inline-flex;
            @media (max-width: 768px) {
                background-color: #285c68;
            }
            img{
                margin: 0 3px;
                // @media (max-width: 768px) {
                //     margin: 0 1px;
                // }
                // @media (max-width: 1400px) {
                //     margin: 0 5px;
                // }
                // @media (max-width: 1025px) {
                //     margin: 0 5px;
                // }
            }
        }
        
    .navigate-button {
        background-color: black;
        color: #ffffff;
        font-size: 1.7rem;
        display: inline;
        margin: 0 2rem;
        @media (max-width: 768px) {
            margin: 0;
        }
        @media (max-width: 1400px) {
            margin: 0 1rem;
        }
        .status{
            background-color: red;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 0;
            margin-bottom: 2px;
        }
    }
    }
    .search{
        width: 40%;
        @media (max-width: 1400px) {
            width: 30%;
        }
        @media (max-width: 840px) {
            width: 30%;
        }
        .search-box-outer {
            width: 100%;
            .material-icons{
                color: #000000;
            }
          }
        ::ng-deep .search-box-outer .mat-form-field-prefix {
            top: 1rem !important;
          }
          .search-box-inner {
            padding-top: 1rem;
          }
          ::ng-deep
            .search-box-outer
            .mat-form-field-appearance-outline
            .mat-form-field-outline {
            top: 1.7em !important;
            border-radius: 4px;
            background-color: white !important;
            height: 60%;
          }
    }
  }


