button {
  font-size: 12px;
  padding-left: 5px;
  width: 100%;
  text-align: left;
  font-weight: 500;
  color: #434343;
}

img {
  height: 2rem;
  width: 2rem;
  margin: 9px -5px 0px 0px;
  float: right;
}

.disable-color {
  cursor: no-drop !important;
  opacity: 0.5;
  color: #434343 !important;
}
