<cxr-header (buttonClicked)="toggleSidenavBar($event)"></cxr-header>
<!-- <cxr-side-nav *ngIf="!sideNavToggle"></cxr-side-nav> -->
<!-- *ngIf="sideNavToggle" -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav opened mode="side" class="sidenav" #sidenavbar>
    <div class="sidenav-content">
      <ng-container *ngFor="let sidenavButtons of sidenavButton">
      <button
      mat-button
      *ngIf="!isAdmin ? sidenavButtons.icons !== 'group' : true"
      [routerLink]="sidenavButtons.routerLink"
      routerLinkActive="is-active"
      >
      <span class="material-icons sidenav-icons">{{
      sidenavButtons.icons
      }}</span
      >{{ sidenavButtons.label }}
      </button>
      </ng-container>
      </div>
    <mat-card class="social-media-card">
      <p>
        <span
          class="social-media"
          *ngFor="let socialMediaImage of socialMediaImages"
          ><img
            [src]="socialMediaImage.image"
            [alt]="socialMediaImage.alt"
            width="15px"
            height="15px"
            [title]="socialMediaImage.title"
          />
        </span>
      </p>
      <button
        mat-button
        *ngFor="let labels of sidenavLabels"
      >
        {{ labels.name | uppercase }}
      </button>
      <div class="bottom-content">{{ copyRightText.copyRightDisplayText }}</div>
      <div class="version-number">App:<b class='m-l-5'>V0.0.51-Dev</b></div>
      <div class="version-number">ML: <b class='m-l-5'>{{mlVerion || '-'}}</b></div>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
