<cxr-header (buttonClicked)="toggleSidenavBar($event)"></cxr-header>
<!-- <cxr-side-nav *ngIf="!sideNavToggle"></cxr-side-nav> -->
<!-- *ngIf="sideNavToggle" -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    mode="side" opened
    class="sidenav"
    #sidenavbar
    (keydown.escape)="close()"
  >
    <div class="sidenav-content">
      <button
        mat-button
        (click)="close()"
        *ngFor="let sidenavButtons of sidenavButton"
        [routerLink]="sidenavButtons.routerLink"
        routerLinkActive="is-active"
      >
        <span class="material-icons sidenav-icons">{{
          sidenavButtons.icons
        }}</span
        >{{ sidenavButtons.label }}
      </button>
    </div>
    <mat-card class="social-media-card">
      <p>
        <span
          class="social-media"
          *ngFor="let socialMediaImages of socialMediaImage"
          ><img
            [src]="socialMediaImages.image"
            [alt]="socialMediaImages.alt"
            width="15px"
            height="15px"
          />
        </span>
      </p>
      <button mat-button>ABOUT</button>
      <button mat-button>HELP</button>
      <button mat-button>TERMS</button>
      <button mat-button>GUIDELINES</button>
      <p class="bottom-content">powered by LTTS</p>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
