<div class="patientInfoContainer">
  <div class="patient-card-header">
    <h1>PATIENT DETAILS</h1>
  </div>
  <div class="patient-card-body">
    <div class="row">
      <div class="col-md-6"><span>Patient ID:</span> {{ patientId }}</div>
      <div class="col-md-6"><span>Status:</span> {{ status }}</div>
    </div>

    <div class="row">
      <div class="col-md-6"><span>Name:</span> {{ name }}</div>
      <div class="col-md-6"><span>Sex:</span> [{{ sex }}]</div>
      <div class="col-md-6"><span>Age:</span> {{ age }}</div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <span>Date of creation:</span> {{ dateOfCreation | date: 'dd-MM-yyyy' }}
      </div>
      <div class="col-md-6">
        <span>Time:</span> {{ time | date: 'HH:mm:ss' }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <span>Ref. Physician:</span> {{ refPhysician }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <span>Clinical History:</span>
        {{
          clinicalHistory ||
            'lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. at vero eos et accusam et justo duo dolores et ea rebum. stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sit amet. lorem ipsum dolor sit amet, consetetur sadipscing'
        }}
      </div>
    </div>
  </div>
</div>
