<div class="saveEraseItems">
    <div
      class="menus"
      *ngFor="let item of saveErasePanel; let i = index"
      [ngStyle]="{
        cursor: item.implemented === true ? 'pointer' : 'no-drop'
      }"
    >
      <img
        [ngClass]="
        saveErasePanel[i].active && item.implemented === true
            ? 'icon-select-BG'
            : item.implemented === true
            ? 'icon-active-BG'
            : 'icon-disabled-BG'
        "
        [src]="item.image"
        [alt]="item.alt"
        (click)="
        item.implemented === true ? iconAction(saveErasePanel, i) : ''
        "
        [title]="item.title"
      />
    </div>
  </div>
  