.reportContainer {
  height: calc(100% - 64px);
  background-color: #212221;
  display: flex;
  overflow-y: auto;

  .back-arrow {
    flex-basis: 60px;
    background-color: #f8f8f8;
    height: calc(100% - 64px);
    position: absolute;

    .background-arrow {
      text-align: center;
      padding: 12px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #ebeded;
      cursor: pointer;
      img {
        height: 25px;
        width: 25px;
      }
    }
  }

  .hide-print-section {
    display: none;
  }

  .x-ray-patient-image {
    flex-basis: 50%;
    margin: 30px 20px 0px 70px;
  }

  .x-ray-patient-details {
    flex-basis: 50%;
    margin: 30px 20px 10px 0px;
    overflow-y: auto;
  }
}

//share thr pdf //
.content-header {
  padding: 2px;
  border: 1px solid black;
  margin: 2rem;
}

.content {
  overflow: hidden;
  background-color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
}

.image-container {
  width: 95%;
  position: relative;
  left: 2%;
  display: block;
  color: #000000;
}

.patient-grid-container {
  padding: 1px;
  position: relative;
  left: 2%;
  color: #000000;
}

.patient-details-alignment {
  table-layout: auto;
  width: 100%;
}

.patient-info-sex {
  margin-left: 1rem;
}

.clinical-comments-align {
  position: relative;
  left: 2%;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.details-heading {
  display: none;
}
.patient-info {
  display: none;
}
.field-title {
  font: italic small-caps bold;
}
.history {
  width: 96.5%;
  left: 2%;
  position: relative;
  padding: 5px;
  border: 1px solid black;
  min-height: 50px;
  height: auto;
  color: #000000;
}

@media print {
  .pagebreak {
    page-break-after: always;
  }
}

h4 {
  margin: 16px 0px 0px;
}
.findings-left-content-top {
  width: 45%;
  min-height: 170px;
  height: auto;
  border: 1px solid black;
  padding-bottom: 10px;
}

.findings-left-content-bottom {
  width: 45%;
  min-height: 232px;
  height: auto;
  border: 1px solid black;
  margin-top: 5px;
  padding-bottom: 10px;
}

.xray-right-content {
  width: 53%;
  max-height: 100%;
  height: auto;
  border: 1px solid black;
  margin-left: 5px;
  float: right;
  position: relative;
  left: 45%;
  top: 0px;
}

.inside-content-align {
  padding: 1px 3px;
}

.footer-left-content {
  padding: 0px 15px 0px 15px;
  color: #000000;
}

.signature-right-side {
  float: right;
}
.cxr-radiological-header {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: auto;
  font-weight: 600;
  color: #000000;
}

.box-title {
  text-align: left;
  border-bottom: 1px solid black;
  font-weight: 600;
  padding: 3px;
  font-size: 16px;
  color: #000000;
}
.hide-xray {
  width: 100%;
  height: 400px;
}
.pdf-padding-r-50 {
  padding-right: 50px;
}
