<mat-sidenav-container class="example-container" *ngIf="!sideNavToggle">
  <mat-sidenav #sidenav opened>
    <button
      mat-button
      [routerLink]="['/home/dashboard']"
      routerLinkActive="is-active"
    >
      <span class="material-icons sidenav-icons">dashboard</span>Dashboard
    </button>
    <button
      mat-button
      [routerLink]="['/home/my-account']"
      routerLinkActive="is-active"
    >
      <span class="material-icons sidenav-icons">person</span>My Account
    </button>
    <button
      mat-button
      [routerLink]="['/home/chat-room']"
      routerLinkActive="is-active"
    >
      <span class="material-icons sidenav-icons">question_answer</span>Chat Room
    </button>
    <button
      mat-button
      [routerLink]="['/home/calendar']"
      routerLinkActive="is-active"
    >
      <span class="material-icons sidenav-icons">date_range</span>Calendar
    </button>
    <button
      mat-button
      [routerLink]="['/home/settings']"
      routerLinkActive="is-active"
    >
      <span class="material-icons sidenav-icons">settings</span>Settings
    </button>
    <p class="bottom-content">powered by LTTS</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <span class="route-component">
      <router-outlet></router-outlet>
    </span>
  </mat-sidenav-content>
</mat-sidenav-container>
