<!-- <mat-sidenav-container class="example-container" *ngIf="!sideNavToggle">
  <mat-sidenav #sidenav opened>
    <button
      mat-button
      *ngFor="let sidenavButtons of sidenavButton"
      [routerLink]="sidenavButtons.routerLink"
      routerLinkActive="is-active"
    >
      <span class="material-icons sidenav-icons">{{
        sidenavButtons.icons
      }}</span
      >{{ sidenavButtons.label }}
    </button>
    <p class="bottom-content">Powered by LTTS</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <span class="route-component">
      <router-outlet></router-outlet>
    </span>
  </mat-sidenav-content>
</mat-sidenav-container> -->
