.example-container {
  position: fixed;
  background: #eee;
  height: 100%;
  width: 13%;
  background-color: #285C68;
}

button {
  color: white;
  text-align: left;
  height: 3rem;
  font-size: 0.8rem;
  width: 100%;
}

.material-icons {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .example-container {
    width: 20%;
  }
}

