.example-container {
  position: fixed;
  background: #eee;
  height: 100%;
  width: 13%;
  background-color: #52808a;
}

button {
  color: white;
  text-align: left;
  height: 3rem;
  font-size: 12px;
  width: 100%;
}

.material-icons {
  margin-right: 10px;
  font-size: 16px;
}
