<mat-sidenav-container class="example-container">
  <!-- <mat-sidenav mode="side" opened></mat-sidenav> -->
  <mat-sidenav-content>
    <button mat-button>
      <span class="material-icons">dashboard</span>Dashboard
    </button>
    <button mat-button>
      <span class="material-icons">person</span>My Account
    </button>
    <button mat-button>
      <span class="material-icons">question_answer</span>Chat Room
    </button>
    <button mat-button>
      <span class="material-icons">date_range</span>Calendar
    </button>
    <button mat-button>
      <span class="material-icons">settings</span>Settings
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
