*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default font size of the browser is 16px - 
    Never set root font-size in px as this will block the user ability to change
    the font-size on their browser. If user changes the font-size of
    browser, it will not have any effect as you are overriding it here
    Hence this should always be in %
    What % of 16px is 10px ? 10/16 * 100 === 62.5 */
  font-size: 62.5%; /* This translates to 10px */
}
body {
  box-sizing: border-box;
}
