.slider {
    margin: 1rem;
    position: relative;
    height: auto;
    flex-basis: 100%;
    min-height: 20%;
    box-shadow: 5px 0 20px 0 #ababab;
    border-radius: 10px;
    background-color: #e5e5e5;
    text-align: center;
    overflow: hidden;
    padding: 0;
    .slideImage {
        padding: 5px;
        #matCarouselSlide {
          position: relative;
          width: 100% !important;
          height: 100% !important;
        }
      }
  }

